.title{
  min-height:150px;
}



.title > h1 > span:nth-of-type(1){
  color:#64DDF6;
}
.title > h1 > span:nth-of-type(2){
  color:#FAEE14;
}
.title > h1 > span:nth-of-type(3){
  color:#FEB5DD;
}
.title > h1 > span:nth-of-type(4){
  color:#B5F69E; 
}
.title > h1 > span:nth-of-type(5){
  color:#F4A3A6;
}
.title > h1> i{
  color: lightgray;
}

nav{
  font-family: 'Noto Sans JP';
  background-color: #F5F5F5;
  min-height: 60px;
  color:#918B81 !important;
}

.nav-item > a{
  color:#918B81 !important;
}

nav > ul {
  height:60px;
}